<%- include("./partials/header.ejs") %>
    
    <div class="dashboard align-items-center p-5">
        <%- include('./partials/flash') %>
        <% var t = 0 %>
        <% posts.forEach(post => { %>
            <% if(followedUsers.includes(post.author)) {%>
                <% t=1 %>
            <% } %>
                
        <% }) %>
        <% if (posts.length >0 && t==1) { %>
            <h2 class="text-center mb-4">The Latest From Those You Follow</h2> 
            <div class="list-group">
                <% posts.forEach(post => { %>
                    <% if(followedUsers.includes(post.author)) {%>
                        <% t=1 %>
                        <a href="/post/<%= post._id  %>" class="list-group-item list-group-item-action">
                            <img class="avatar-tiny" src="<%= post.avatar %>">
                            <strong><%= post.title %></strong> <span class="text-muted small">by <%= post.author %> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %> </span>
                        </a>
                    <% } %>
                    
               <% }) %>
              </div>
        <%  }else{ %>
            <h1>Hello <b><%= user.username %></b>, your feed is empty.</h1>
            <p>Your feed displays the latest posts from the people you follow. If you don't have any 
                friends to follow that's okay; you can use the "Search" feature in the top menu bar
                to find the content written by people with similar interests and then follow them.
            </p>
        <%  } %>
    </div>  
<%- include("./partials/footer.ejs") %>