<%- include('partials/header.ejs') %>

<div class="dashboardprofile p-5">

        <%- include('partials/flash') %>

    <%- include('partials/profileShared') %>
    
    <div class="list-group">
      <% followers.forEach(follower => { %>
        <% if ((follower.followedId) === (author)) { %>
          
        <a href="/profile/<%= follower.authorId.username %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" src="<%= follower.authorId.avatar %>">
            <%= follower.authorId.username %>
          </a>
        <% } %>
     <% }) %>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>