<%- include('partials/header.ejs') %>

<div class="dashboardprofile p-5">

        <%- include('partials/flash') %>

    <%- include('partials/profileShared') %>
  
    <div class="list-group">
      <% following.forEach(follow => { %>
        <% if (follow.authorId === followed) { %>
        <a href="/profile/<%= follow.following_user %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" src="<%= follow.followedId.avatar %>">
            <%= follow.following_user%>
          </a>
        <% } %>
     <% }) %>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>