<%- include('partials/header.ejs') %>

<div class="dashboardprofile p-5">

        <%- include('partials/flash') %>

    <%- include('partials/profileShared') %>
  
    <div class="list-group">
      <% for(var i =0; i< followedId2.length; i++){%>
        <% if(followedId2[i].toString() == author2.toString()) {  %>

          <a href="/profile/<%= username2[i] %>" class="list-group-item list-group-item-action">
            <b><%= username2[i] %></b>
          </a>
            
          <% } %>

      <% } %>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>