<%- include("./partials/header.ejs") %>
    
    <div class="dashboard align-items-center p-5">
        <%- include('./partials/flash') %>
        <% if(!posts.length && !users.length){ %>
            <h1>Sorry <b><%= user.username %></b>,</h1>
            <p>We cannot find any matching search results!
            </p>
        <%  } else{ %>
            <h2 class="text-center mb-4">Search Results:</h2> 
            <div class="list-group">
            <% posts.forEach(post => { %>
                <a href="/post/<%= post._id  %>" class="list-group-item list-group-item-action">
                <img class="avatar-tiny" src="<%= post.avatar %>">
                    <strong><%= post.title %></strong> <span class="text-muted small">by <%= post.author %> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %></span>
                </a>
            <% }) %>
            </div>
            <br>
            <br>
            <h4 class=" mb-4">List of users:</h4> 
            <% users.forEach(user => { %>
                <a method = "GET" href="/profile/<%= user.username %>" class="list-group-item list-group-item-action"><img class="avatar-tiny" src="<%= user.avatar %>">
                <%= user.username %>
                </a>
            <% }) %>
            </div>
        <%  } %>
    </div>  
<%- include("./partials/footer.ejs") %>