<%- include("./partials/header.ejs") %>

<div class="container py-md-5 ">
  <%- include('./partials/flash') %>
  <div class="d-flex justify-content-between">
  <h2><%= post.title %></h2>

   <% if (post.author === user.username){ %>
    <span class="pt-2">
      <a href="/post/<%= post._id %>/editpage" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit">&#x1F589;</a>
      <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete">&#x1F5D1;</button>
      </form>
    </span> 
  <%  } %>
  </div>
  
  <p class="text-muted small mb-4">
    <a href="/profile/<%= post.author %>"><img class="avatar-tiny" src="<%= post.avatar %>"></a>
    Posted by <a href="/profile/<%= post.author %>"><%= post.author %></a> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %></p>


  <div class="body-content">
      <%= post.body %>
  </div>

</div>

<%- include("./partials/footer.ejs") %>

